---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PictureGallery from "../components/PictureGallery.astro";
import LeftInfoBox from "../components/LeftInfoBox.astro";
import RightInfoBox from "../components/RightInfoBox.astro";
import TestimonialHeader from "../components/TestimonialHeader.astro";
---

<Layout title="Woodwright">
	<main>
		<PictureGallery />
		<LeftInfoBox href="/about" title="About" body="Ger is an experienced carpenter with over 25 years experience in the construction industry. He decided to take his expertise and unique skills and start Woodwright sash restoration after having worked on many famous construction projects such as Humewood castle and Adare manor. "/>
		<RightInfoBox href="/service" title="Services" body="Woodwright window and sash restoration offers a number of high quality services including sash restoration..."/>
		<TestimonialHeader href="#testimonials" title="Testimonials" body="What our customers say about us!"/>
		<LeftInfoBox title="Quote #1" body="I was blown away by the level of professionalism and craftsmanship I experienced when working with them. They restored our century-old sash windows, preserving their historical charm while improving their functionality. It's truly an unparalleled service."/>
		<RightInfoBox  title="Quote #2" body="Their attention to detail and respect for the original character of our sash windows left us deeply impressed. The team repaired damage I thought was beyond repair. We can now enjoy the beauty of our windows, knowing they're in the hands of true professionals."/>
		<LeftInfoBox title="Quote #3" body="I want to express my gratitude for the exceptional service provided. The team went above and beyond in insulating and draught-proofing our sash windows. They've married the old with the new in a way that has significantly improved the comfort of our home."/>
		<RightInfoBox title="Quote #4" body="Working with this team has been an absolute pleasure. They transformed our sash windows and breathed new life into them. The quality of their workmanship is evident in every detail - it's clear they take immense pride in what they do."/>
	</main>
</Layout>

