---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PictureGallery from "../components/PictureGallery.astro";
---

<Layout title="Woodwright">
	<main>
		<h1 class="">Welcome to <a href={"/about/"}Woodwright</a> window and sash restoration</h1>
		<PictureGallery />
		
		
	</main>
</Layout>

