---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PictureGallery from "../components/PictureGallery.astro";
import LeftInfoBox from "../components/LeftInfoBox.astro";
import RightInfoBox from "../components/RightInfoBox.astro";
---

<Layout title="Woodwright">
	<main>
		<PictureGallery />
		<LeftInfoBox />
		<RightInfoBox />
	</main>
</Layout>

