---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PictureGallery from "../components/PictureGallery.astro";
import LeftInfoBox from "../components/LeftInfoBox.astro";
import RightInfoBox from "../components/RightInfoBox.astro";
import TestimonialHeader from "../components/TestimonialHeader.astro";
import LeftSpeechBubble from "../components/LeftSpeechBubble.astro";
---

<Layout title="Woodwright">
	<main>
		<PictureGallery />
		<LeftInfoBox src="./stockCarpentryImage8.jpg" href="/about" title="About" body="With over 25 years of hands-on experience, Ger Cummins has become a trusted carpenter in the construction industry. His skillset is highlighted by high-profile projects, such as Humewood Castle and Adare Manor. Leveraging his extensive expertise, he decided to start Woodwright Sash Restoration, a company that focuses on preserving the charm and functionality of traditional sash windows. With a strong commitment to quality and attention to detail, Ger and his team aim to restore the past's beauty, making it work for today's needs, one window at a time."/>
		<RightInfoBox src="./stockCarpentryImage5.jpg" href="/service" title="Services" body="Woodwright window and sash restoration offers a number of high quality services including: Sash Window Restoration, Sash Window Repair and Draught Proofing and Insulation"/>
		<TestimonialHeader href="#testimonials" title="Testimonials" body="What our customers say about us!"/>
		<LeftInfoBox src="./stockCarpentryImage6.jpg" title="Jane Doe, Harold's Cross" body="I was blown away by the level of professionalism and craftsmanship I experienced when working with them. They restored our century-old sash windows, preserving their historical charm while improving their functionality. It's truly an unparalleled service."/>
		<RightInfoBox  src="./stockCarpentryImage7.jpg" title="John O'Donnell, Clontarf" body="Their attention to detail and respect for the original character of our sash windows left us deeply impressed. The team repaired damage I thought was beyond repair. We can now enjoy the beauty of our windows, knowing they're in the hands of true professionals."/>
		<LeftInfoBox src="./stockCarpentryImage6.jpg" title="Eva Green, Dublin 6" body="I want to express my gratitude for the exceptional service provided. The team went above and beyond in insulating and draught-proofing our sash windows. They've married the old with the new in a way that has significantly improved the comfort of our home."/>
		<RightInfoBox src="./stockCarpentryImage6.jpg" title="Mary Finnegan, Naas, Co.Kildare" body="Working with this team has been an absolute pleasure. They transformed our sash windows and breathed new life into them. The quality of their workmanship is evident in every detail - it's clear they take immense pride in what they do."/>
		
	</main>
</Layout>

