---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LeftInfoBox from "../components/LeftInfoBox.astro";
import RightInfoBox from "../components/RightInfoBox.astro";
---

<Layout title="Woodwright">
	<main>
		<h1 class="text-title-color text-4xl font-serif text-center">Services</h1>
		<LeftInfoBox src="./stockCarpentryImage8.jpg" title="Sash Window Restoration" body="Breathe new life into your timeless sash windows with our expert restoration service. Our experienced craftsmen combine traditional techniques with modern methods to recover the original charm of your windows. Every project is meticulously executed with the utmost respect for the piece's historical integrity. We use high-quality materials to ensure your windows retain their beauty and functionality for years to come."/>
		<RightInfoBox src="./stockCarpentryImage8.jpg" title="Sash Window Repair" body="When your sash windows are damaged or have become difficult to operate, count on our skilled repair service. From replacing broken cords and damaged wood to addressing issues with window operation, our team provides comprehensive solutions. We leverage decades of experience and keen attention to detail, restoring your windows to their original, smooth-running condition. Our commitment to superior workmanship means your windows will not only look good but work perfectly too."/>
		<LeftInfoBox src="./stockCarpentryImage8.jpg" title="Draught Proofing and Insulation" body="Enhance the efficiency and comfort of your sash windows with our draught proofing and insulation service. We use industry-leading techniques and materials to reduce heat loss, eliminate draughts, and decrease outside noise, all without altering the window's original appearance. This service allows your sash windows to maintain their historic charm while meeting the energy-saving demands of the modern world."/>
	</main>
</Layout>