---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Woodwright">
	<main>
		<h1 class="">Welcome to the SERVICES page for Woodwright window and sash restoration</h1>
		
		
	</main>
</Layout>