---
import { Astro } from 'astro';
---

<footer class="bg-green-200 flex py-10 px-6 text-gray-800 space-x-6">
  <div class="flex-1">
    <div class="text-lg font-bold mb-2">Description</div>
    <div class="text-sm">
      We're experts in transforming old windows into stunning pieces. Our team combines traditional craftsmanship with modern methods to repair and improve your sash windows.
    </div>
  </div>
  <div class="flex-1 flex justify-between ml-6 space-x-6">
    <div>
      <div class="text-lg font-bold mb-2">Contact</div>
      <div class="text-sm">
        Address: Clohamon, Bunclody, Co.Wexford<br>
        Email: <a href="mailto:cummins.ger@gmail.com" class="text-indigo-600 hover:text-indigo-800 transition duration-200">cummins.ger@gmail.com</a><br>
        Telephone: <a href="tel:0872655713" class="text-indigo-600 hover:text-indigo-800 transition duration-200">0872655713</a>
      </div>
    </div>
    <div>
      <div class="text-lg font-bold mb-2">Quick Links</div>
      <div class="text-sm">
        <a href="/service" class="text-indigo-600 hover:text-indigo-800 transition duration-200">Services we offer</a><br>
        <a href="/about" class="text-indigo-600 hover:text-indigo-800 transition duration-200">About us</a><br>
        <a href="/#testimonials" class="text-indigo-600 hover:text-indigo-800 transition duration-200">Reviews</a><br>
        <a href="/#contactUs" class="text-indigo-600 hover:text-indigo-800 transition duration-200">Contact Us</a>
      </div>
    </div>
  </div>
</footer>
