---
import { Astro } from 'astro';

const year = new Date().getFullYear();
---

<div class="bg-slate-400 flex justify-between py-4 px-6 text-white">
  <div>
    © Woodwright Sash Restoration {year}. All rights reserved.
  </div>
  <div></div>
</div>
