---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
import InfoCard from './InfoCard.astro';
---

<div id="right-info-box" class="flex justify-end items-center md: px-4 py-2">
    <img src="/stockCarpentryImage5.jpg" alt="StockCarpentryImage" class="h-64 w-100">
    <InfoCard href="/service" title="Services" body="Woodwright window and sash restoration offers a number of high quality services including sash restoration..."/>
</div>


